body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.top {
  background-color: #e7e9fc;
}

.top .nav {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.top .nav .text {
  color: #2e2f42;
}

.top .nav .buttons .link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #2e2f42;
}

.top .nav .buttons .link:hover,
.top .nav .buttons .link:active {
  color: #404bbf;
}

.top .address .link {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 2px;
  color: #434455;
}

.top .address .link:hover,
.top .address .link:active {
  color: #404bbf;
}

.main {
  background-color: #2e2f42;
}

.main .title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.071428571428571;
  color: #ffffff;
}

.main .button {
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.main .button:hover,
.main .button:focus {
  background-color: #404bbf;
}

.features .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.features .text {
  line-height: 1.5;
  letter-spacing: 2px;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.team .card {
  background-color: #ffffff;
}

.team .card .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.team .card .text {
  line-height: 1.5;
  letter-spacing: 2px;
  color: #434455;
}

.portfolio .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.portfolio .title .heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.portfolio .title .text {
  line-height: 1.5;
  letter-spacing: 2px;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .logo .text {
  color: #f4f4fd;
}

.footer .text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 2px;
}
